[discord]
token = <token get from app at https://discordapp.com/developers/applications/me>

[voice]
channel = <voice channel ID to join to>
volume = 40
greeting_delay = 0.5 # in seconds, delay before greeting message
#play on join = audio file

[tts]
api key = <api key from Yandex TTS>

[voice-messages]
#phrase = audio file
#another phrase = tts:Hello, World!

[greetings]
#default = audio file for others
#userid = audio file
#anotheruser = tts:Hi, somebody!

[commands]
#command = ["command text 1", "command text 2", ...]

[events]
#member join = tts:Welcome, {name}!
#member remove = tts:Goodbye, {name}!
